## Example One: Total Emissions
Using the package to calculate total emissions for a historical period in the NEM

In [1]:
import pandas as pd
import os
os.chdir('../src/nem_emissions/')
from downloader import *
from process import *

In [2]:
# Define local cache directory & input parameters
cache = "/media/martian/Münster/Thesis_2022/cache"

start_time = "2021/12/27 00:00:00"
end_time = "2021/12/28 00:00:00"
filter_units = None
filter_regions = None

In [3]:
# Retrieve total emissions by DI and DUID
totemissions = get_total_emissions_by_DI_DUID(
    start_time, end_time, cache, filter_units, filter_regions
)
totemissions

Compiling data for table DISPATCHLOAD.
Returning DISPATCHLOAD.

,Time,DUID,REGIONID,Plant_Emissions_Intensity,Energy,Total_Emissions
0,2021-12-27 00:05:00,ADPBA1G,SA1,0.000000,0.000000,0.000000
1,2021-12-27 00:05:00,ADPBA1L,NaN,NaN,0.000000,NaN
2,2021-12-27 00:05:00,ADPPV1,SA1,0.000000,0.000000,0.000000
3,2021-12-27 00:05:00,AGLHAL,SA1,1.174440,0.000000,0.000000
4,2021-12-27 00:05:00,AGLSOM,VIC1,0.817915,0.000000,0.000000
...,...,...,...,...,...,...
126121,2021-12-28 00:00:00,YENDWF1,VIC1,0.000000,5.651250,0.000000
126122,2021-12-28 00:00:00,YWPS1,VIC1,1.315515,18.333333,24.117773
126123,2021-12-28 00:00:00,YWPS2,VIC1,1.315515,0.000000,0.000000
126124,2021-12-28 00:00:00,YWPS3,VIC1,1.315515,18.333333,24.117773
126125,2021-12-28 00:00:00,YWPS4,VIC1,1.315515,21.666667,28.502823

In [6]:
# Retrieve total emissions aggregated to regional level of data
region_stats = get_total_emissions_by_(start_time, end_time, cache, by="interval")
region_stats['Intensity_Index']

Compiling data for table DISPATCHLOAD.
Returning DISPATCHLOAD.

REGIONID             NSW1  QLD1   SA1  TAS1  VIC1
Time
2021-12-27 00:05:00  0.69  0.81  0.03   0.0  0.76
2021-12-27 00:10:00  0.68  0.82  0.03   0.0  0.76
2021-12-27 00:15:00  0.68  0.81  0.03   0.0  0.75
2021-12-27 00:20:00  0.69  0.81  0.03   0.0  0.75
2021-12-27 00:25:00  0.70  0.81  0.03   0.0  0.75
...                   ...   ...   ...   ...   ...
2021-12-27 23:40:00  0.62  0.80  0.03   0.0  0.74
2021-12-27 23:45:00  0.62  0.80  0.03   0.0  0.73
2021-12-27 23:50:00  0.62  0.80  0.03   0.0  0.73
2021-12-27 23:55:00  0.61  0.80  0.03   0.0  0.73
2021-12-28 00:00:00  0.62  0.81  0.03   0.0  0.72

[288 rows x 5 columns]